/* Generic styles */
@font-face {
    font-family: Poly;
    src: url(./fonts/Poly/Poly-Regular.ttf);
}

@font-face {
    font-family: Stalemate;
    src: url(./fonts/Stalemate/Stalemate-Regular.ttf);
}

@media (max-width: 767px) {
    html {
        font-size: 4px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 6px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    html {
        font-size: 8px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 10px;
    }
}

html {
    font-family: 'Poly', serif;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.third-width {
    width: 33%;
}

.left {
    display: flex;
    justify-content: flex-start;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.center {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

/* Element descriptive styles */
.header {
    background-color: #000;
    height: 5vh;
    position: relative;
    color: #efefef;
    font-size: 1.5rem;
    line-height: 2rem;
}

.subheader {
    height: 20vh;
    background-color: #007BAB;
    color: #efefef;
    position: relative;
}

.footer {
    height: 10vh;
    background-color: #007BAB;
    font-size: 4.8rem;
    color: #efefef;
}

.copyright {
    height: 5vh;
    background-color: #000;
    color: #efefef;
    font-size: 1.5rem;
}

.post-title {
    font-size: 4rem;
}

.post-snippet {
    font-size: 2rem;
    color: #555;
}

.posts-summaries {
    width: 80%;
}

.date > span,
.tags > span {
    margin-right: .25rem;
}

.tag {
    background-color: #888;
    border-radius: .5rem;
    padding: .5rem;
    color: #efefef;
}

.month {
    color: #007BAB;
}

.brand {
    color: #007BAB;
    font-weight: 600;
}

.subheader .brand {
    color: #efefef;
    font-size: 5.5rem;
    padding-bottom: 1.5rem;
}

.subheader .brand-tagline {
    font-family: 'Stalemate', cursive;
    font-size: 4.8rem;
}

.copyright > .brand {
    margin-left: .25rem;
}

.post-summary {
    border-top: .3rem solid #CDE3EC;
    border-bottom: .3rem solid #CDE3EC;
    padding: 3vh 3vw;
    border-radius: 1rem;
}

    .post-summary:not(:last-child) {
        margin-bottom: 3vh;
    }

.post-snippet,
.post-title {
    margin-bottom: 1vh;
}

nav i {
    color: #efefef;
    margin-left: 1.5vw;
    font-size: 2rem !important;
}

.bottom-pager,
.top-pager {
    height: 5vh;
    background-color: #DDD;
    border-top: .1rem solid #BBB;
    border-bottom: .1rem solid #BBB;
    font-size: 1.5rem;
    color: #444;
}

    .bottom-pager i,
    .top-pager i {
        padding: 0 1vw;
    }

    .bottom-pager .center,
    .top-pager .center {
        border-right: .1rem solid #BBB;
        border-left: .1rem solid #BBB;
    }

.post-summary:hover {
    box-shadow: .5rem .5rem 1.5rem .5rem #DDD;
    border-top: .3rem solid #007BAB;
    border-bottom: .3rem solid #007BAB;
    cursor: pointer;
}

.ellipsis {
    color: #BBB;
}

.bottom-pager .button:hover,
.top-pager .button:hover {
    color: #007BAB;
    cursor: pointer;
}

.main {
    background-color: #EEE;
}

    .main > .container {
        background-color: #FFF;
        padding: 3.5vh 0;
        border-radius: 1rem;
    }
