@using Contracts.Blog;
@model Post

<div class="column comments-container center">
    @Html.Partial("_CommentForm", new Comment { PostId = Model.Id })

    <div class="column container left comments">
        @foreach (var comment in Model.Comments)
        {
            @Html.Partial("_Comment", comment)
        }
    </div>
</div>

