.pager {
  background-color: $lighter-gray;
  color: $dark-gray;
  font-size: 1.5rem;
  height: 5vh;
  padding: 1rem 0;

  .center {
    border-left: .1rem solid $light-gray;
    border-right: .1rem solid $light-gray;
  }

  .button {
    align-items: center;
    color: $dark-gray;
    text-decoration: none;

    &:hover {
      color: $primary;
      cursor: pointer;

      path {
        fill: $primary;
      }
    }
  }

  svg {
    height: 2rem;
    padding: 0 1.5rem;
    width: 2rem;

    > path {
      fill: $dark-gray;
    }
  }
}
