.search-results {
  justify-content: flex-start;
  padding: 0 !important;
  position: absolute;
  top: 32vh;

  > ul {
    background-color: $black;
    border-radius: 1rem 1rem 0 0;

    > li {
      border-bottom: 1px solid $white;
      text-align: center;

      > a {
        color: $text-white;
        font-size: 1.5rem;
        line-height: 2.5rem;
      }
    }
  }
}
